@font-face {
    font-family: "Cormorant" ;
    src: url("../font/Cormorant.ttf");
}

@font-face {
    font-family: "Yoruka" ;
    src: url("../font/Yoruka.otf");
}

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Cormorant";
    background-color: #D3D0CB;
}

header{
    position: fixed;
}

#homeContainer{
    height: 100vh;
    
}

#aboutContainer{
    height: 100vh;
    
}

#foodContainer{
    height: 100vh;
    
}

/* DEBUT PARTIE CONTACT */

/* Conteneur principal */
#contactContainer{
    height: 100vh;
}


.logoSocial{
    width: 50px;
}

.contactTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Yoruka";
    font-size: 25px;
    width: 400px;
    height: 100px;
    background-color: #E2C044;
}

.centerContact{
    display: flex;
    justify-content: center;

}

.contactContenu{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.field{
    width: 450px;
    height: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px;
    border: 2px solid black;
}
form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#message{
    width: 400px;
    height: 300px;
    resize: none;
}
#mail{
    width: 300px;
}
#name{
    width: 300px;
}

.social{
    border: 2px solid black;
}
/* FIN PARTIE CONTACT */

#accessContainer{
    height: 100vh;
    width: 100vw;
}



