@font-face {
    font-family: "Cormorant";
    src: url("../font/Cormorant.ttf");
}

@font-face {
    font-family: "Yoruka";
    src: url("../font/Yoruka.otf");
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "Cormorant";
    background-color: #D3D0CB;
}

#homeContainer {
    height: 100vh;
}

#aboutContainer {
    height: 100vh;
}

#foodContainer {
    height: 100vh;
}

h2 {
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 42px;
}


/* MOUSE OVER CLICK */


a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color:RGB(255, 224, 102);
    opacity: 2;
}


/* BLOCK1 */

.block1 {
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    background: RGB(226, 192, 68, 0.4);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px; 
    font-size: 24px;
    
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 20%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 20%;
}

.logo {
    display: flex;
    height: 120px;
    width: 20%;
    justify-content:center;
    align-items: center;
}

.imagelogo {
    height: 120px;
    width: 40%;

}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 20%;
}

.access {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 20%;
}

/* BLOCK2 */


.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    background: url(../img/image_background.webp);
    background-size: cover;
    background-position: 50%;
}