@font-face {
    font-family: "Cormorant" ;
    src: url("../font/Cormorant.ttf");
}

@font-face {
    font-family: "Yoruka" ;
    src: url("../font/Yoruka.otf");
}

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Cormorant";
}

header{
    position: fixed;
}

#homeContainer{
    height: 100vh;
    width: 100vw;
}
/* a propos */
#aboutContainer{
    height: 100vh;
    width: 100vw;
}
/* titre à propos et texte de présentation */
.aboutPresentation{
    height: 50%;
    width: 100%;
    background-color: #D3D0CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* titre à propos */
.aboutTab{
    height: 100px;
    width: 400px;
    background-color: #E2C044;
    font-family: "Yoruka" ;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* texte de présentation */
.aboutText{
    width: 60%;
    font-family: "Cormorant";
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    
}
/* évènements */
.aboutEvents{
    height: 400px;
    width: 100%;
    background-color: #E2C044;
    }
/* titre évènements */
.eventsTitle{
    font-family: "Yoruka" ;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
/* description des évènements */
.eventsDescription{
    width: 60%;
    font-family: "Cormorant";
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}
.logoreduc{
    background-color:#E2C044 ;
    width: 15%;
}
#foodContainer{
    height: 100vh;
    width: 100vw;
}

#contactContainer{
    height: 100vh;
    width: 100vw;
}

#accessContainer{
    height: 100vh;
    width: 100vw;
}