@font-face {
    font-family: "Cormorant";
    src: url("../font/Cormorant.ttf");
}

@font-face {
    font-family: "Yoruka";
    src: url("../font/Yoruka.otf");
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #D3D0CB;
    font-family: "Cormorant";
}

/* Partie accueil */

#homeContainer {
    height: 100vh;
    width: 100vw;
}

h2 {
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 42px;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background: #e2c044;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    background: url(../img/photo-restaurant.jpeg);
}
/* FIN partie accueil */

/* DEBUT a propos */
#aboutContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* onglet et titre à propos */
.aboutTab {
    min-height: 10%;
    height: 100px;
    width: 400px;
    background-color: #E2C044;
    font-family: "Yoruka";
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* texte de présentation */
.aboutText {
    width: 60%;
    font-family: "Cormorant";
    font-size: 25px;
}

/* évènements */
.aboutEvents {
    height: 40%;
    width: 100%;
    background-color: #E2C044;
}

/* titre évènements */
.eventsTitle {
    font-family: "Yoruka";
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* description des évènements */
.eventsDescription {
    font-family: "Cormorant";
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FIN a propos */

/* DEBUT Présentation des plats */
#foodContainer {
    background-color: brown;
    height: 100vh;
}

#foodContainer h2 {
    text-align: center;
}

/* bloc 1 */
.blocpictures1 {
    background-color: green;
    display: flex;
    flex-direction: row;
    height: 200px;
}

.pictures1 {
    border: 1px solid black;
    width: 33%;
}

.pictures2 {
    border: 1px solid black;
    width: 33%;
}

.pictures3 {
    border: 1px solid black;
    width: 33%;
}

/* bloc 2 */
.blocpictures2 {
    background-color: blue;
    display: flex;
    height: 200px;
}

.pictures4 {
    border: 1px solid black;
    width: 33%;
}

.pictures5 {
    border: 1px solid black;
    width: 33%;
}

.pictures6 {
    border: 1px solid black;
    width: 33%;
}

/* bloc 3 */
.blocpictures3 {
    background-color: yellow;
    display: flex;
    height: 200px;
}

.pictures7 {
    border: 1px solid black;
    width: 33%;
}

.pictures8 {
    border: 1px solid black;
    width: 33%;
}

.pictures9 {
    border: 1px solid black;
    width: 33%;
}

/* boutton */

.menubutton {
    text-align: center;
    justify-content: center;
}
/* FIN présentation des plats */

/* DEBUT PARTIE CONTACT */
/* Conteneur principal */
#contactContainer {
    height: 100vh;
    width: 100vw;
}

.logoSocial {
    width: 50px;
}

.contactTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Yoruka";
    font-size: 25px;
    width: 400px;
    height: 100px;
    background-color: #E2C044;
}

.centerContact {
    display: flex;
    justify-content: center;

}

.contactContenu {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.field {
    width: 450px;
    height: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px;
    border: 2px solid black;
}

form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#message {
    width: 400px;
    height: 300px;
    resize: none;
}

#mail {
    width: 300px;
}

#name {
    width: 300px;
}

.social {
    border: 2px solid black;
}
/* FIN PARTIE CONTACT */

#accessContainer {
    height: 100vh;
    width: 100vw;
}