@font-face {
    font-family: "Cormorant" ;
    src: url("../font/Cormorant.ttf");
}

@font-face {
    font-family: "Yoruka" ;
    src: url("../font/Yoruka.otf");
}

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "Cormorant";
    background-color: #D3D0CB;
}

#homeContainer{
    height: 100vh;
}

#aboutContainer{
    height: 100vh;
}

#foodContainer{
    height: 100vh;
}

h2 {
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 42px;
}

/* CONTAINER PRINCIPAL */

#homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background : #e2c044;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    background:url(../img/photo-restaurant.jpeg);
}

